<html>
<head>
</head>
<body>
<title>Magnetometer</title>

Magnetometer Strip Chart

<script>
window.xmin = 42000;
window.xmax = 40000;
window.ymin = 21000;
window.ymax = 23000;
window.zmin = -100;
window.zmax = 100;
window.tmmin = 40000;
window.tmmax = 44000;
window.vx = " "
window.vy = " "
window.vz = " "
window.vtm = " "

// Adjust bounds of strip chart y axis
function limits(message) {
  
  top1 =    Math.max(...window.vx)
  bottom1 = Math.min(...window.vx)
  delta = (top1 - bottom1) * 0.05;
  if (delta < 2) {
   delta = 5;
   }
  window.xmax = top1 + delta;
  window.xmin =  bottom1 - delta;

  top1 =    Math.max(...window.vy)
  bottom1 = Math.min(...window.vy)
  delta = (top1 - bottom1) * 0.05;
  if (delta < 2) {
   delta = 5;
   }
  window.ymax = top1 + delta;
  window.ymin =  bottom1 - delta;

  top1 =    Math.max(...window.vz)
  bottom1 = Math.min(...window.vz)
  delta = (top1 - bottom1) * 0.05;
  if (delta < 2) {
   delta = 5;
   }
  window.zmax = top1 + delta;
  window.zmin =  bottom1 - delta;

  top1 =    Math.max(...window.vtm)
  bottom1 = Math.min(...window.vtm)
  delta = (top1 - bottom1) * 0.05;
  if (delta < 2) {
   delta = 5;
   }
  window.tmmax = top1 + delta;
  window.tmmin =  bottom1 - delta;


//  alert(top1 + "," +bottom1 +"," +delta + ","+ window.xmin + " , " + window.xmax);
}

</script>
<INPUT NAME="showOut" TYPE="button" VALUE=" Set avg" onClick="limits('a')" >

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="myLineChart"   width="740" height="80"></canvas>
<canvas id="myLineCharty"  width="740" height="80"></canvas>
<canvas id="myLineChartz"  width="740" height="80"></canvas>
<canvas id="myLineCharttm" width="740" height="80"></canvas>

<script>

function plotIt(mydata,mychart){
  console.log("plotIt", mydata)
  mychart.data.datasets[0].data = mydata.x;
  window.vx = mydata.x;
  console.log("mychart.data.datasets[0].data x:",mychart.data.datasets[0].data);
  mychart.options.scales.y.min = window.xmin;
  mychart.options.scales.y.max = window.xmax;
  mychart.update('active');
}

function plotIty(mydata,mychart){
  console.log("plotIt", mydata)
  mychart.data.datasets[0].data = mydata.y;
  window.vy = mydata.y;
  console.log("mychart.data.datasets[0].data y:",mychart.data.datasets[0].data);
  mychart.options.scales.y.min = window.ymin;
  mychart.options.scales.y.max = window.ymax;
  mychart.update('active');
}

function plotItz(mydata,mychart){
  console.log("plotIt", mydata)
  mychart.data.datasets[0].data = mydata.z;
  window.vz = mydata.z;
  console.log("mychart.data.datasets[0].data z:",mychart.data.datasets[0].data);
  mychart.options.scales.y.min = window.zmin;
  mychart.options.scales.y.max = window.zmax;
  mychart.update('active');
}

function plotIttm(mydata,mychart){
  console.log("plotIt", mydata)
  mychart.data.datasets[0].data = mydata.tm;
  window.vtm = mydata.tm;
  console.log("mychart.data.datasets[0].data tm:",mychart.data.datasets[0].data);
  mychart.options.scales.y.min = window.tmmin;
  mychart.options.scales.y.max = window.tmmax;
  mychart.update('active');
}

var dataholder = [0]
var dataholdery = [0]
var dataholderz = [0]
var dataholdertm = [0]
for (i=0;i<20;i++) {
  dataholder.push(0);
  dataholdery.push(0);
  dataholderz.push(0);
  dataholdertm.push(0);
}
  
var ctx = document.getElementById('myLineChart').getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['20','19','18', '17','16','15','14','13','12','11','10','9','8','7','6','5','4','3','2','1'],
        datasets: [{
            label: 'X AXIS',
            data: dataholder,
            borderColor:['rgba(255,50,50,1)'],
            borderWidth: 2
        }]
    },
    options: {   
        scales: {
            y: {
                suggestedMin: window.xmin,
                suggestedMax: window.xmax
            }
        }
    }
 });
 
var ctxy = document.getElementById('myLineCharty').getContext('2d');
var myLineCharty = new Chart(ctxy, {
    type: 'line',
    data: {
        labels: ['20','19','18', '17','16','15','14','13','12','11','10','9','8','7','6','5','4','3','2','1'],
        datasets: [{
            label:'Y AXIS',
            data: dataholdery,
            borderColor:['rgba(255,50,50,1)'],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                suggestedMin: 22880,
                suggestedMax: 22930
            }
        }
    }
 }); 
 
var ctxz = document.getElementById('myLineChartz').getContext('2d');
var myLineChartz = new Chart(ctxz, {
    type: 'line',
    data: {
        labels: ['20','19','18', '17','16','15','14','13','12','11','10','9','8','7','6','5','4','3','2','1'],
        datasets: [{
            label: 'Z AXIS',
            data: dataholderz,
            borderColor:['rgba(255,50,50,1)'],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                suggestedMin: -100,
                suggestedMax: 100
            }
        }
    }
 }); 
 
var ctxtm = document.getElementById('myLineCharttm').getContext('2d');
var myLineCharttm = new Chart(ctxtm, {
    type: 'line',
    data: {
        labels: ['20','19','18', '17','16','15','14','13','12','11','10','9','8','7','6','5','4','3','2','1'],
 //       labels: [' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' ',' '],
        datasets: [{
            label: 'Total',
            data: dataholdertm,
            borderColor:['rgba(255,50,50,1)'],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                suggestedMin: -100,
                suggestedMax: 100
            }
        }
    }
 }); 



var var1 = setInterval(myTimer,2000);

console.log("log data 1");
function myTimer() {
console.log("timer")
fetch('http://localhost:5000/magnetdata1', { mode: "same-origin", credentials: 'same-origin'})
 .then(response => response.json())
 .then(data => {plotIt(data,myLineChart); plotIty(data,myLineCharty); plotItz(data,myLineChartz); plotIttm(data,myLineCharttm); } );
 
 }

 
</script>

<script>

console.log("script3 - 1");
fetch('http://localhost:5000/magnetdata1')
 .then(response => response.json())
 .then(data => console.log(data.y[0] , data.y[1]));
console.log("script3 - 2");
</script>




<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  function drawLineChart() {
    console.log("log data 4");
 
    // Add a helper to format timestamp data
    Date.prototype.formatMMDDYYYY = function() {
        return (this.getMonth() + 1) +
        "/" +  this.getDate() +
        "/" +  this.getFullYear();
    }
    console.log("log data 5");
    $("#pcontent").submit(function(e) {
     console.log("log data 6");
     $.ajax({
      type:"GET",
      url: 'localhost:5000/magnetdata',
      dataType: 'json',
      data:$("#pcontent").serialize(),
      beforeSend:function(){
       $(".post submitting").show().html("LOADING")}
      }).done(function (results) {

      // Split timestamp and data into separate arrays
      var labels = [], data=[];
      console.log("log data 3");

      results["packets"].forEach(function(packet) {
	    
        labels.push(new Date(packet.ts).formatMMDDYYYY());
        data.push(parseFloat(packet.payloadString));
      });

      // Create the chart.js data structure using 'labels' and 'data'
      var tempData = {
        labels : labels,
        datasets : [{
            fillColor             : "rgba(151,187,205,0.2)",
            strokeColor           : "rgba(151,187,205,1)",
            pointColor            : "rgba(151,187,205,1)",
            pointStrokeColor      : "#fff",
            pointHighlightFill    : "#fff",
            pointHighlightStroke  : "rgba(151,187,205,1)",
            data                  : data
        }]
      };

      // Get the context of the canvas element we want to select
      var ctx1 = document.getElementById("myLineChart").getContext("2d");

      // Instantiate a new chart
      var myLineChart = new Chart(ctx1).Line(tempData, { bezierCurve: false
        //bezierCurve: false
      });
    });
   });
  }

  console.log("log data 2");
  drawLineChart();
</script>






<p class=MsoNormal>Bottom of page here</p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
